* {
	margin: 0;
}

body {
	overflow: hidden;
	margin: 0, auto;
}


.auth {
	box-sizing: border-box;
	width: 400px;
	height: 300px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.auth_form {
	background-color: aqua;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 15px;
}

.auth_form input {
	height: 35px;
	border-radius: 12px;
	border: none;
	width: 100%;
}

.Login__button {
	height: 35px;
	width: 50%;

}


.ChatPage {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ChatBar {
	background-color: #F3F3F3;
	flex: 0 0 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
}

.ChatCard {
	width: 90%;
	text-align: center;
	background: #76ADFF;
	height: 40px;
	margin-bottom: 2px;
	border-radius: 43px;
}

.active {
	background: #FFD995;
}

.messagepanel {
	flex: 0 0 66%;
	height: 100%;
	background-color: #C6C6C6;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}



.messagepanelheader {
	position: relative;
	background-color: #ffffff;
	height: 9vh;
	padding: 0 30px;
	font-size: 5vh;
	width: 100%;
	top: 0;
}

.messages {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	align-items: center;
	min-height: calc(80vh - 20px);
	height: auto;
}

.CreateChatComponent {
	width: 90%;
	height: 50px;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #000;
	border-radius: 20px;
	background-color: #ffffff;
	margin: 35px 15px 35px 15px;
}

.message {
	flex-grow: 0;
	flex-shrink: 0;
	background-color: #FFD995;
	border-radius: 100px;
	text-align: center;
	margin-bottom: 15px;
	padding: 15px;
	max-width: 40%;
	height: auto;
	font-size: 3vh;
	word-wrap: break-word;
}

.data {
	opacity: 30%;
	font-size: 14px;
	position: relative;
}

.qeq {
	min-height: 80vh
}

.message__section {
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.CreateChatComponent_button {
	border-radius: 20px 0 0 20px;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	text-align: center;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #ffffff;
}

.CreateChatComponent_button svg {
	border-radius: 15%;
}

.CreateChatComponent_button svg:hover {
	background-color: #A9A9A9;
}

.CreateChatComponent_input {
	width: 80%;
	border: none;
	height: calc(100% - 2px);
	border: none;
	outline: none;
	vertical-align: middle;
	border-radius: 0 20px 20px 0;
	font-size: 30px;
}


.sendmessage {
	flex: 0 0 10%;
	border: 1px solid black;
	bottom: 20px;
	width: calc(100% - 60px);
	height: 11vh;
	margin: 0 30px;
	margin-bottom: 20px;
	background-color: #ffffff;
	border-radius: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.sendmessage-input {
	font-size: 200%;
	width: 90%;
	height: (100% - 2px);
	border-radius: 50px;
	border: none;
	outline: none;
	vertical-align: middle;
}

.sendmessage-button {
	width: 10%;
	height: 100%;
	border-radius: 50px;
	border: none;
	outline: none;
	cursor: pointer;
}

#root {
	height: 100vh;
	width: 100vw;

}